<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Yao Studio</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars" data-template-name="application">
    <div class="container pull-left">
      {{#link-to 'index'}}<h1>Eric Yao</h1>{{/link-to}}
      <ul class="nav nav-pills nav-stacked">
        {{#link-to 'index' tagName='li'}}PROFOLIO{{/link-to}}
        {{#link-to 'info' tagName='li'}}INFO{{/link-to}}
      </ul>
      <div class="container">
        {{outlet}}
      </div>
      <footer class="container"><h1>Site is under construction.</h1></footer>
    </div>
  </script>

  <script type="text/x-handlebars" id="index">
    <ul>
    {{#each item in model}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="about">
    
  </script>

  <script src="js/libs/jquery-2.1.1.min.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember.min.js"></script>
  <script src="js/libs/ember-data.min.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
  <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/libs/jquery.backstretch.min.js"></script>
</body>
</html>
