<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yao Studio</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars" data-template-name="application">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <ul class="nav" id="side-menu">
        <li class="naveheader">
          {{#link-to 'index'}}
            <h1 class='font-bold'>ERIC YAO</h1>
            <h2>EY</h2>
            <span class="text-xs text-muted">Photographer, Visual Artist</span>
          {{/link-to}}
        </li>
        {{render 'portfolio-menu-bar'}}
        {{render 'info-menu-bar'}}
      </ul>
    </nav>
    <div class="page-wrapper gray-bg sidebar-content">
      <div class="row">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        {{outlet}}
      </div>
    </div>
  </script>

   <script type="text/x-handlebars" data-template-name="portfolio-menu-bar">
     {{#link-to 'portfolio.wedding'}}
        <i class='fa fa-th-large' {{action 'toggleMenuItem'}}></i>
        <span class="nav-label">PORTFOLIO</span>
        <span class="fa arrow"></span>
      {{/link-to}}
      <ul class="nav nav-second-level">
        <li>
          {{#link-to 'portfolio.wedding'}}Weddings{{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.people'}}People{{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.places'}}Places{{/link-to}}
        </li>
      </ul>
   </script>

   <script type="text/x-handlebars" data-template-name="info-menu-bar">
     {{#link-to 'info.about'}}
        <i class='fa fa-child'></i>
        <span class="nav-label">INFO</span>
        <span class="fa arrow"></span>
      {{/link-to}}
      <ul class="nav nav-second-level">
        <li>
          {{#link-to 'info.about'}}About{{/link-to}}
        </li>
        <li>
          {{#link-to 'info.contact'}}Contact{{/link-to}}
        </li>
      </ul>
   </script>

  <script src="js/libs/jquery-2.1.1.min.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember.min.js"></script>
  <script src="js/libs/ember-data.min.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
  <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/libs/jquery.backstretch.min.js"></script>
  <script type="text/javascript" src="js/libs/jquery.metisMenu.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/libs/inspinia.js"></script>
</body>
</html>
